{% extends "base.html" %}

<!-- Announcement bar -->
{% block announce %}
  <a href="https://www.armbian.com">
    <span class="twemoji twitter">
      {% include ".icons/fontawesome/solid/house.svg" %}
    </span> &nbsp; Home
  </a>
  &nbsp;
  <a href="https://www.armbian.com/download">
    <span class="twemoji twitter">
      {% include ".icons/fontawesome/solid/download.svg" %}
    </span> &nbsp; Download
  </a>
  &nbsp;
  <a href="https://blog.armbian.com">
    <span class="twemoji twitter">
      {% include ".icons/fontawesome/solid/newspaper.svg" %}
    </span> &nbsp; Newsletter
  </a>
  &nbsp;
  <a href="https://forum.armbian.com">
    <span class="twemoji twitter">
      {% include ".icons/fontawesome/solid/user-group.svg" %}
    </span> &nbsp; Forum
  </a>
  &nbsp;
  <a href="https://github.com/armbian">
    <span class="twemoji twitter">
      {% include ".icons/fontawesome/brands/github.svg" %}
    </span> &nbsp; GitHub / Source code
  </a>
  &nbsp;
  <a href="https://www.armbian.com/donate">
    <span class="twemoji twitter">
      {% include ".icons/fontawesome/solid/heart.svg" %}
    </span> &nbsp; Donate
  </a>
  <a rel="me" href="https://fosstodon.org/@armbian"></a>
{% endblock %}

{% block content %}
  {{ super() }}

  {% if page and page.meta and page.meta.comments %}
  <div class="giscus-comments" style="margin-top: 2rem;">
  <script src="https://giscus.app/client.js"
        data-repo="armbian/documentation"
        data-repo-id="MDEwOlJlcG9zaXRvcnk2MjM4NzMyMA=="
        data-category="General"
        data-category-id="DIC_kwDOA7f0eM4Co78a"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="noborder_light"
        data-lang="en"
        crossorigin="anonymous"
        async>
  </script>
  <script>
    var giscus = document.querySelector("script[src*=giscus]")

    // Set palette on initial load
    var palette = __md_get("__palette")
    if (palette && typeof palette.color === "object") {
      var theme = palette.color.scheme === "slate"
        ? "transparent_dark"
        : "light"

      // Instruct Giscus to set theme
      giscus.setAttribute("data-theme", theme)
    }

    // Register event handlers after documented loaded
    document.addEventListener("DOMContentLoaded", function() {
      var ref = document.querySelector("[data-md-component=palette]")
      ref.addEventListener("change", function() {
        var palette = __md_get("__palette")
        if (palette && typeof palette.color === "object") {
          var theme = palette.color.scheme === "slate"
            ? "transparent_dark"
            : "light"

          // Instruct Giscus to change theme
          var frame = document.querySelector(".giscus-frame")
          frame.contentWindow.postMessage(
            { giscus: { setConfig: { theme } } },
            "https://giscus.app"
          )
        }
      })
    })
  </script>
    </div>
  {% endif %}
{% endblock %}
