name: "Pull from Armbian config"

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:

  Build:
    name: "Pull"
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'armbian' }}
    steps:

      - name: Checkout main documentation
        uses: actions/checkout@v6
        with:
          repository: 'armbian/documentation'
          path: 'documentation'

      - name: Checkout Armbian config repository
        uses: actions/checkout@v6
        with:
          repository: 'armbian/configng'
          path: 'config'

      - name: Make docs
        run: |

          cd config
          tools/config-assemble.sh -p
          tools/config-markdown.py -u

          # rsync images first
          rsync -avr tools/include/images/. ../documentation/docs/images/

          # this section goes under armbian-config
          mkdir -p ../documentation/docs/User-Guide_Armbian-Config/
          rsync -avr docs/Localisation/Localisation.md ../documentation/docs/User-Guide_Armbian-Config/
          rsync -avr docs/Network/Network.md ../documentation/docs/User-Guide_Armbian-Config/
          rsync -avr docs/System/System.md ../documentation/docs/User-Guide_Armbian-Config/

          # the rest goes under armbian-software
          mkdir -p ../documentation/docs/User-Guide_Armbian-Software/
          rsync -avr --exclude="Software.user.md" docs/Software/* ../documentation/docs/User-Guide_Armbian-Software/

      - name: Create Pull Request to documentation
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          path: documentation
          commit-message: '`Automatic` documentation update'
          signoff: false
          branch: auto-update-docs
          delete-branch: true
          title: '`Automatic` documentation update'
          body: |
            Generate documentation.

          labels: |
            Needs review
          #assignees: igorpecovnik
          #reviewers: Must be org collaborator
          draft: false
