# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Create offline documentation

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel
        pip install mkdocs mkdocs-with-pdf
    - name: Run mkdocs --clean
      run: |
        mkdocs build --clean
        
    - name: Upload pdf 
      uses: actions/upload-artifact@v2
      with:
        name: artifact
        path: site/pdf/document.pdf
        
  Finish:
    needs: [ build ]
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
      - name: Add
        run: |
          ls -l
          unzip artifacts.zip
          git pull
          git add document.pdf
      - name: Commit files
        run: |
          git config --local user.email "info@armbian.com"
          git config --local user.name "Armbianworker"
          git commit --allow-empty -m "Update github actions" -a
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.MIRROR }}
          branch: ${{ github.ref }}
        
        
        
#    - name: Push to documentation repository
#      uses: cpina/github-action-push-to-another-repository@master
#      env:
#          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
#      with:
#          source-directory: 'site'
#          destination-github-username: 'EvilOlaf'
#          destination-repository-name: 'docutest'
#          user-email: werner@armbian.de
        
        
#    - name: Upload artifact 
#      uses: actions/upload-artifact@v2
#      with:
#        name: artifact
#        path: site/ 
        

