name: Update documentation website

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-docs:
    name: "Generate HTML"
    if: ${{ github.repository_owner == 'Armbian' }}
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v6
        with:
          ref: main
          fetch-depth: 1

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version: 3.8

      - name: "Install dependencies"
        run: |

          pip install --upgrade pip
          pip install setuptools wheel -r requirements.txt

      - name: "Build documentation"
        run: mkdocs build --clean

      - name: "Install SSH key"
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.KEY_UPLOAD }}
          known_hosts: ${{ secrets.HOST_APPLICATIONS_KNOWN_HOSTS }}
          if_key_exists: replace

      - name: "Deploy to servers"
        timeout-minutes: 3
        run: |
          rsync -e "ssh -p ${{ secrets.HOST_APPLICATIONS_PORT }}" \
          -a site/ \
          ${{ secrets.HOST_APPLICATIONS_USER }}@${{ secrets.HOST_APPLICATIONS }}:storage/docs.armbian.com

